.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel", serif;
  height: 40vh;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3em;
  color: #3e2723;
  margin: 10px;
  padding-bottom: 2px;
}

input[type="text"] {
  width: 50rem;
  padding: 10px;
  font-family: "Cinzel", serif;
  font-size: 16px;
  color: #3e2723;
  background-color: #f5f5dc;
  border: 2px solid #3e2723;
  border-radius: 5px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #6d4c41;
}

p {
  font-family: "Magic School One", cursive;
  padding: 0%;
  margin-top: 2px;
}

body {
  background-color: #f5f5dc;
}

img {
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  input[type="text"] {
    width: 90%;
  }

  p {
    padding: 0.6rem;
  }

  img {
    display: none;
  }
}
